@import "./base.scss";
@import "./colors.scss";

.aboutBanner {
  color: #fff;
  padding: 4rem 3rem;

  & h5 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  & p {
    font-size: 2rem;
  }
}

.aboutFirstSection {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin: 0 auto;
  @media screen and(max-width:768px) {
    flex-direction: column;
  }
}

.aboutSlide {
  background-image: url("../assets/img/bg12.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 33.33%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and(max-width:768px) {
    width: 100%;
  }

  .slides {
    width: 100% !important;
    padding: 0 4rem;

    h5 {
      font-size: 4rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

.aboutFirstSection .text {
  flex: 4;
  padding: 6rem 0 20rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and(max-width:768px) {
    width: 100%;
  }

  & h5 {
    color: $color-primary;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  & p {
    font-size: 1.7rem;
    line-height: 1.7;
    color: $color-primary;
  }

  & p:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }
}

.aboutSecondSection {
  background-image: url("../assets/img/bgvalue.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 583px;
  margin-bottom: 3rem;
  padding-top: 3rem;

  & h4 {
    font-size: 4rem;
    font-weight: 600;
    color: $color-primary;
  }

  p {
    font-size: 1.9rem;
    font-weight: 200;
    text-align: center;
    color: $color-primary;
  }

  & h5 {
    font-size: 2.5rem;
    color: $color-primary;
    margin-bottom: 10px;
  }
}

.aboutSecondSection img {
  width: 50px;
  height: 50px;
}

.aboutSecondSection .values {
  padding: 3rem 0;
  display: flex;
  justify-content: space-evenly;
  @media screen and(max-width:768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.aboutSecondSection .values span {
  font-size: 1.5rem;
}
.aboutSecondSection .values img {
  margin-right: 20px;
}

.aboutFourthSection {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;

  img {
    display: block;
    margin: 0 auto;
  }

  @media screen and(max-width:768px) {
    flex-direction: column;
  }

  & h5 {
    color: $color-primary;
    font-size: 3.5rem;
    margin-bottom: 10px;
    text-align: center;
  }

  & p {
    font-size: 1.5rem;
    color: $color-primary;
    text-align: center;
  }

  .members {
    display: flex;
    @media screen and(max-width:768px) {
      flex-direction: column;
    }
  }
}

.aboutSixthSection {
  @media screen and(max-width:767px) {
    display: none;
  }
}

.aboutSixthSection h6 {
  font-size: 4rem;
  padding-bottom: 3rem;
  padding-left: 10rem;
  color: $color-primary;
}

.aboutSixthSection .slides {
  width: 90vw;
  margin: 0 auto 4rem auto;
  border: 2px dotted black;
  height: 35rem;

  h5 {
    color: #fff;
    font-size: 1.7rem;
    margin-bottom: 5px;
  }

  p {
    color: #fff;
    font-size: 1.7rem;
  }

  .slideLeft {
    background-color: $color-primary;
    clip-path: polygon(0 0, 90% 0, 75% 100%, 0% 100%);
    flex: 1;
    height: 34.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
  }

  .slideRight {
    flex: 1;
    padding: 0 4rem 0 0;
    display: flex;
    align-items: center;
    p {
      font-size: 1.5rem;
      line-height: 1.8;
      color: $color-primary;
    }
  }
}

.slide {
  display: flex;
}
