select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;

  &:hover {
    text-decoration: none;
    text-decoration: none;
    display: inline-block;
    color: #000;
  }
}

img {
  display: block;
}

p {
  margin-bottom: 0;
}
h5 {
  margin-bottom: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media (max-width: 992px) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans" sans-serif !important;
  font-weight: 400;
  line-height: 1.4;
  font-size: inherit;
  // this overflow line might cause issues later
  overflow-x: hidden;
}
