@import "./colors.scss";

.contactbanner {
  background-image: url("../assets/img/hh.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.contact {
  width: 50vw;
  margin: 4rem auto;

  @media screen and(max-width:760px) {
    width: 70vw;
  }
}

.contactFirstSection {
  margin-bottom: 8rem;
  & span {
    font-size: 3.5rem;
    font-weight: 600;
    color: $color-primary;
    display: inline-block;
  }

  & p {
    font-size: 1.7rem;
  }

  & .line {
    height: 5px;
    background-color: $color-primary;
  }

  .text {
    padding-right: 6rem;
    @media screen and(max-width:768px) {
      padding-right: 0;
    }
  }
}

.contactContactForm .formControl {
  width: 100%;
  padding: 15px 10px 15px 10px;
  border: 1px solid $color-primary;

  &::placeholder {
    font-size: 13px;
  }
}

.contactContactForm h5 {
  font-size: 3.5rem;
  color: $color-primary;
  font-weight: 600;
  margin-bottom: 4rem;
}

.contactContactForm .userDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  @media screen and(max-width:960px) {
    grid-template-columns: 1fr;
  }
}

.contactContactForm textarea {
  resize: none;
}

.contactContactForm button {
  color: $color-white;
  background-color: $color-primary;
  padding: 12px 15px;
  font-size: 14px;
}

.contactSecondSection {
  background-color: $color-primary;
  padding: 7rem 2rem;
  @media screen and(max-width:760px) {
    display: flex;
    justify-content: center;
  }

  .itemsWrapper {
    display: flex;
    justify-content: space-evenly;
    color: $color-white;
    @media screen and(max-width:760px) {
      flex-direction: column;
    }
  }
}

.contactSecondSection .item {
  display: flex;
  @media screen and(max-width:375px) {
    flex-direction: column;
  }

  h5 {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }

  li {
    font-size: 1.3rem;
  }

  .icon {
    color: $color-primary;
    font-size: 30px;
  }

  .iconWrapper {
    background-color: $color-white;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and(max-width:375px) {
      margin-right: 0;
    }
  }

  .description {
    margin-top: 20px;
    @media screen and(max-width:375px) {
      margin-bottom: 20px;
    }
  }
}

.bendSection {
  position: relative;
}

.topbend {
  height: 60px;
  background: #0d3a64;
  position: absolute;
  width: 64%;
  top: -24px;
  right: 0px;
  transform: skew(-34deg);
}

.bottombend {
  height: 25px;
  background: $color-primary;
  width: 100%;
  clip-path: polygon(0 0, 58% 0, 57% 100%, 0% 100%);
}
