@import "./colors.scss";
@import "./base.scss";

.csrBanner {
  & h5 {
    font-size: 3rem;
    margin-right: 3rem;
    font-family: "avenir";
    @media screen and(max-width:760px) {
      margin-bottom: 2rem;
      margin-right: 0;
    }
  }

  & p {
    font-size: 1.5rem;
    font-family: "avenir";
  }

  .csrText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    animation: slideInFromLeft 0.8s ease-in;
    width: 25%;
    margin-left: 2rem;
    color: #fff;

    h3 {
      font-size: 2.5rem;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1rem;
      color: $color-primary;
    }

    p {
      font-size: 2rem;
      text-align: center;
      color: $color-primary;
      font-weight: 600;
    }

    @media screen and(max-width:1024px) {
      padding: 1rem;
      width: 70%;
    }
  }
}

.csrFirstSection {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-white;
  padding: 6rem 2rem;

  & h5 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
    font-family: "avenir";
    text-align: center;
  }

  & p {
    font-size: 1.7rem;
    line-height: 1.6;
    text-align: center;
    font-family: "avenir";
    text-align: center;
  }

  & p:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
