.footer {
  background-image: url("../assets/img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-size: 1.5rem;
}

.footer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0d3a64;
  opacity: 0.9;
  z-index: 1;
}

.footer__items {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 5rem;
  color: #fff;
  @media screen and(max-width:960px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 8rem 0 2rem 3rem;
  }
}

.footer__items a {
  color: #fff;
}

.footer__logo {
  margin-right: 10rem;
  @media screen and(max-width:960px) {
    margin-right: 0;
  }
}

.footer__links-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  @media screen and(max-width:960px) {
    flex-direction: column;
  }
}

.footer__links li:not(:last-child) {
  margin-bottom: 2rem;
}

.footer a:hover {
  color: #fff;
}

.footer__links a::before {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 20px;
  color: #fff;
  background-color: #fff;
}

.footer__links a {
  display: flex;
  align-items: center;
}

.footer__address ul:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer__copy {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 2;
  padding-bottom: 5px;
  @media screen and(max-width:960px) {
    padding: 0 4rem 2rem 4rem;
  }
}
