@import "./base.scss";
@import "./colors.scss";

.carousel-control-next,
.carousel-control-prev {
  &:hover {
    display: flex !important;
    align-items: center !important;
  }
}

.carousel-caption {
  position: absolute;
  top: 2rem;
  left: 0;
  z-index: 1;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 4rem;
  padding-left: 10rem;

  h3 {
    font-size: 2rem;
    font-weight: 800;
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service {
  position: relative;
  cursor: pointer;

  &:hover .serviceText {
    top: 0;
  }
}

.serviceText {
  position: absolute;
  top: 78%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  opacity: 0.8;
  color: $color-white;
  font-size: 15px;
  transition: top 0.3s ease-in-out;

  p {
    text-transform: capitalize;
  }
}

.serviceOffer {
  position: relative;
  cursor: pointer;

  &:hover .offerText {
    display: block;
  }
}

.offerText {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 2rem;
  background-color: $color-primary;
  color: $color-white;
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  display: none;
  z-index: 3;
  opacity: 0.7;

  p {
    opacity: 1;
    position: relative;
    z-index: 5;
  }
}
