.nav {
  background-color: #0d3a64;
  opacity: 0.6;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 10rem;
  position: fixed;
  width: 100% !important;
  z-index: 10000;

  @media screen and(max-width:768px) {
    padding: 2px 5rem;
    justify-content: space-between;
  }

  @media screen and(max-width:425px) {
    position: static;
  }
}

.nav__list {
  display: none;
}

.nav__list a {
  text-transform: capitalize;
  color: #fff;
  font-size: 1.5rem;

  &:hover {
    color: #fff;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0d3a64;
  transition: 0.5s ease-in-out;
  display: grid;
  align-items: center;
  z-index: 999;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0.95;
}
.showSidebar {
  transform: translateX(0);
  visibility: visible;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Permanent Marker", cursive;
    color: #fff;
  }

  li:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@media screen and(min-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
.close-btn {
  position: absolute;
  top: 3rem;
  right: 5rem;
  background: transparent;
  border: transparent;
  font-size: 5rem;
  cursor: pointer;
  color: white;
  font-weight: 800;
}

.toggle-btn {
  font-size: 4rem;
  background: transparent;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.toggle-btn:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 2rem;
    align-items: center;
  }

  .nav__list {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin-left: 15rem;
  }
}
