.nav {
  background-color: #0d3a64;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 8rem;
  opacity: 0.6;
  font-size: 1.3rem;
}

.nav__brand {
  margin-right: 20rem;
}

.nav__list {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.nav__list a {
  text-transform: capitalize;
  color: #fff;

  &:hover {
    color: #fff;
  }
}
