@import "./colors.scss";

@mixin bakgroundProperties {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@mixin overlay {
  &::after {
    display: block;
    content: "";
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
}

.servicesBanner {
  color: #fff;
  padding: 4rem 3rem;
  & h5 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  & p {
    font-size: 2rem;
  }
}

.servicesSecondSection {
  background-color: $color-primary;
  display: flex;
  // should improve on this
  flex-wrap: wrap;
  padding: 4rem 5rem 4rem 4rem;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }
}

.servicesSecondSection .statement {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  margin-right: 5rem;

  & h5 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.servicesSecondSection .offers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2rem;
  @media screen and(max-width:768px) {
    grid-template-columns: 1fr;
  }
}

.servicesThirdSection {
  background-image: url("../assets/img/support.jpg");
  @include bakgroundProperties();
  height: 187px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & h5 {
    text-align: center;
    color: $color-primary;
    font-size: 2.5rem;
    position: relative;
    z-index: 3;

    @media screen and(max-width:768px) {
      font-size: 1.5rem;
    }
  }

  @include overlay();
}

.servicesFourthSection {
  background-image: url("../assets/img/support.jpg");
  @include bakgroundProperties();
  position: relative;
  @include overlay();

  & article {
    border: 2px solid #ccc;
    width: 93vw;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
  }

  & .title {
    padding: 2rem 0 2rem 2rem;
    border-bottom: 2px solid #ccc;

    h5 {
      font-size: 2.5rem;
      color: $color-primary;
      font-weight: 700;
      @media screen and(max-width:768px) {
        text-align: center;
      }
    }
  }

  & .milestones {
    display: flex;
    flex: 1;
    @media screen and(max-width:768px) {
      flex-direction: column;
    }
  }

  & .milestones .left {
    background-image: url("../assets/img/1.png");
    flex: 2;
    display: flex;

    & .text {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 5rem 0;
    }

    h5 {
      font-size: 4rem;
      color: $color-primary;
    }

    p {
      color: $color-primary;
      font-size: 1.7rem;
      font-weight: 300;
    }
  }

  & .milestones .right {
    flex: 3;
    display: flex;
    flex-direction: column;

    & .upperRight {
      padding: 3rem 3rem 3rem 3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 5rem;
      row-gap: 6rem;
    }

    & .downRight {
      background-image: url("../assets/img/2.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      flex: 1;
      padding: 2rem 3rem 2rem 12px;

      h5,
      p,
      h6 {
        color: $color-white;
        @media screen and(max-width:768px) {
          text-align: center;
        }
      }
      p {
        @media screen and(max-width:768px) {
          margin-top: 2rem;
        }
      }
      h5 {
        font-size: 2.5rem;
      }
      h6 {
        font-size: 13px;
        font-weight: 600;
      }

      .vessels {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;
        @media screen and(max-width:768px) {
          grid-template-columns: 1fr;
          justify-content: center;
          justify-items: center;
          text-align: center;
        }
      }
    }
  }

  & .milestones .right h5 {
    font-size: 2.5rem;
    color: $color-primary;
    font-weight: 600;
    margin-bottom: 10px;
  }

  & .milestones .right p {
    font-size: 1.3rem;
    font-weight: 600;
    color: $color-primary;
  }
}

.servicesFifthSection {
  & .projection {
    padding: 4rem 0 4rem 4rem;
  }

  & h5 {
    color: $color-primary;
    font-size: 3rem;
    font-weight: 700;
  }
}

.servicesFifthSection .text {
  background: url("../assets/img/support.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  height: 500px;

  & .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #97cbfd;
    opacity: 0.9;
    z-index: 1;
  }
}

.servicesFifthSection .textContent {
  height: 100%;
  position: relative;
  z-index: 3;
  display: flex;

  & > div {
    flex: 1;
  }

  h6 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.5;
  }

  & .rightContent {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    h6 {
      margin-top: 20rem;
      margin-right: 5rem;
      color: $color-primary;
    }
  }

  & .leftContent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    h6 {
      margin-left: 5rem;
      margin-top: 10rem;
      color: $color-primary;
    }
  }

  & .middleContent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #0d3a64;
    z-index: 2;
    clip-path: polygon(55% 0, 100% 0%, 45% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    h6 {
      color: #fff;
    }
  }
}

.servicesSlideSection {
  padding-bottom: 8rem;
  background-color: #f5f5f5;
}
