@import "./colors.scss";

.services__banner {
  background: url("../assets/img/bg5.png") no-repeat center center / cover;
  height: 400px;
  color: #fff;
  padding: 4rem 3rem;

  & h5 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  & p {
    font-size: 2rem;
  }
}
